body {
    margin: 100px;
}
a {
    text-decoration: none;
    color: black;
}
table,
th,
td {
    border: 1px solid black;
}

td {
    text-align: left;
}

.section-1{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .section-1{
        display: flex;
        flex-direction: column;
    }
}
